body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}

#zeitanzeige {
font-size: 7em;
margin-bottom: 25px;
font-family: monospace;
color: rgb(20, 5, 5);

}

.button {
    font-size: 3em;
    width: 150px;
    margin: 0 15px;
    }